.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 400px;
  border: 1px solid;
  box-shadow: 2px 2px 2px black;
  padding: 0.5rem;
}

.login-email-input,
.login-password-input,
.login-btn-out {
  padding: 0.5rem;
}

.login-btn {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  font-weight: 600;
  outline: auto;
}

.login-btn:hover {
  background-color: #ff6666;
  color: white;
}
.login-input {
  padding: 0.5rem;
}
.toggle-password {
  margin-left: -25px;
  cursor: pointer;
}

.login-signup,
.login-text {
  margin: 0.5rem;
}
