.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid whitesmoke;
  width: 100%;
  box-shadow: 5px 5px 5px grey;
  min-height: 8vh;
}
.header-logo {
  width: 150px;
  height: 70px;
  margin: 0;
}
.home {
  justify-content: start;
  margin-left: 0.5rem;
}
.search-bar {
  width: 30%;
  justify-content: center;
  margin-left: 30px;
}
.bi {
  font-size: 24px;
}

.nav-links {
  justify-content: end;
}

.profile-navbar,
.cart-navbar,
.wishList-navbar {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
